.acf-vimeo-video .canvas-media {
  container-type: inline-size;
}

.acf-vimeo-video .canvas-media video {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  border: 1px solid rgb(0 0 0 / 0.5);

  --background: rgb(0 0 0 / 0.4);
  background-color: var(--background);
  background-image:
    linear-gradient(45deg, var(--background) 25%, transparent 25%),
    linear-gradient(-45deg, var(--background) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--background) 75%),
    linear-gradient(-45deg, transparent 75%, var(--background) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  aspect-ratio: var(--aspect-ratio);
  @container (width > 600px) {
    aspect-ratio: 16 / 9;
  }
}



.acf-vimeo-video .acf-icon.-picture {
  display: none;
}

.acf-vimeo-video .acf-loading {
  left: auto;
  top: 15px;
  right: -2px;
}

.acf-vimeo-video.has-value:not(:has(.acf-loading)) .acf-actions {
  display: block !important;
  padding: 2px !important;
}
.acf-vimeo-video.has-value .input-search {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.acf-vimeo-video.has-value .acf-icon.-cancel {
  background: transparent;
}
.acf-vimeo-video.has-value .acf-icon.-cancel::before {
  color: rgb(0 0 0 / 0.75);
}